.dropzone-container{
    max-width: 700px;
    width:100%;
    display: flex;
    justify-content: center;
    border:2px dashed #ddd;
    margin: 30px auto;
    min-height: 250px;
    align-items: center;
    cursor: pointer;
    background-color: cadetblue;
    color: whitesmoke;
}
body{
    background-color: darkgray;
}